.App {
  display: flex;
  flex-direction: column;
}

.dashboard{
   display: flex;
  flex-direction: row;
}

.divs{
 width: 400px;
}

.Navbar{
  background-color: white;
  display: flex; 
  flex-direction: row;
}

